page-pemesanan2 {
    .card {
        width: 100%;
        height: 200px;
        margin-left: 0px;
        margin-right: 0px;
        background-size:100%;
        margin-left: 0px;
        margin-right: 0px;
      }
      
      .pesancard{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .pesancard2{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 120%;
      }
    .ukuran{
        background-size:cover;
        height: 200px;
        width: 100%;
    }
    .pisah{
        margin-top: 20px;
    }
    .nam{
        padding-left: 0px;
        padding-right: 0px; 
    }
    .pesannamatravel{
        padding-left:0px;
        font-size:14pt;
        font-weight:bold;
    }
    .pesanharga{
        padding-left:0px;
    }
    .pisahbut{
        padding:0px;
    }
    
    .kotakwarna{
        height: 20px;
        width: 60px;
        border-radius: 20px;
    }
    .buttonton{
        width: 100%; 
        color:#fff;
        background-color: #4F92FF; 
        border-color: #4F92FF;
        height:100%;
        border-radius:2px;
    }
}
