page-kebijakan-privasi {
    #news-feed-content {
        background-color: #f6f6f6; }
        #news-feed-content .news-item {
          border-top: 1px solid rgba(225, 225, 225, 0.69);
          background-color: white;
          margin-bottom: 20px; }
          #news-feed-content .news-item .header {
            padding: 10px 20px 4px 26px;
            color: gray; }
            #news-feed-content .news-item .header img.user-img {
              border-radius: 50%;
              width: 121px;
              height: 121px;
              margin-top: 0; }
            #news-feed-content .news-item .header .col-80 .name {
              font-weight: 500; }
            #news-feed-content .news-item .header .col-80 .datetime {
              font-size: 12px; }
          #news-feed-content .news-item .detail {
            padding: 5px 20px 4px 20px; }
            #news-feed-content .news-item .detail h1 {
              font-size: 16px;
              font-weight: 400;
              color: #2882D8; }
            #news-feed-content .news-item .detail p.content {
              font-size: 12px;
              color: gray; }
            #news-feed-content .news-item .detail p.tags {
              color: gray; }
              #news-feed-content .news-item .detail p.tags i {
                margin-right: 6px; }
          #news-feed-content .news-item .footer {
            border-top: 1px solid rgba(225, 225, 225, 0.69);
            border-bottom: 2px solid rgba(225, 225, 225, 0.69);
            color: gray;
            text-align: center;
            padding: 10px; }
            #news-feed-content .news-item .footer .col-33 .number {
              font-size: 14px;
              font-weight: 500; }
            #news-feed-content .news-item .footer .col-33 .wording {
              font-size: 13px; }
      

}
