page-detail-contact {
    .sub-header{
     text-align: center;
    }
    .floathome{
     color:#999; 
     font-size:16px;
     font-weight:normal;  
     transition:0.2s ease all; 
     -moz-transition:0.2s ease all; 
     -webkit-transition:0.2s ease all;
   }
   .floathome:focus{
     top:-10px;
     font-size:16px;
     color: #2e75e8;
   }
   .boxbutton{
           border:0;
           color: #fff;
           padding:5px;
           font-size: 14px;
         font-weight: bold;
           width:100%;
           display:block;
           cursor:pointer;
           -webkit-transition: all 0.4s;
           transition: all 0.4s;
           border-radius: 2px;
           padding-right: 10px;
           margin-left: 5px;
           margin-top: 20px;
       }
    .error
      {
      color:red;
      font-size: 12px;
      }
      .tanggal{
        display: none;
      }
      .boxbutton{
        border:0;
        color: #fff;
        padding:5px;
        font-size: 14px;
      font-weight: bold;
        width:100%;
        display:block;
        cursor:pointer;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 2px;
        padding-right: 10px;
        margin-left: 5px;
        margin-top: 20px;
    }
   }