page-travel-partner {
    .kotak{
        width: auto;
        padding-top: 5px;
        padding-bottom: 10px;
        border: 1px solid #ccc;
        margin-left: 2%;
        box-shadow: 0 2px 3px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.20);
        text-align: center;
    }
    .pat{
        margin: 5px;
    }

    .ukuran{
        width: 50%;
        padding-top: 10px;
    }
    p#namatravel{
        text-align: center;
    }
}
