page-result2 {
    ion-card {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        width: 100%;
      }
    .ukuran{
        width: 100px;
        height: 100px;
    }
    .resultnamtravel{
        padding-left:0px;
    }
    .resultharga{
        padding-left:0px;
    }
    .resultcol{
        padding: 0px;
    }
    .buttonton{
        width: 100%; 
        color:#fff;
        background-color: #4F92FF; 
        border-color: #4F92FF;
        height:100%;
        border-radius:2px;
    }
    .boxbutton{
        border:0;
        color: #fff;
        padding:5px;
        font-size: 14px;
      font-weight: bold;
        width:100%;
        display:block;
        cursor:pointer;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 2px;
        padding-right: 10px;
        margin-left: 0px;
        margin-top: 20px;
    }
}
